header{
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}
/*=======================btns========================*/
.btn{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;

}
/*Header Socials*/
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}
.scroll_down{
    position: absolute;
    right: 2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
/*===============Media queries (Medium devices) =============*/

@media screen and (max-width : 1024px) {
    .header{
        height: 80vh;
    }
    .header_socials
        ,.scroll_down{
            display: none;
        }
}
.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust as needed */
  }
  
  .circle-container img {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }