/*=======For floating navigation=======*/
nav {
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    left: 50%;
    position: fixed;
    transform: translateX(-40.5%);
    bottom: 2rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
}
nav a{
    background: transparent;
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    display: flex;
    font-size: 1.1rem;
}
nav a:hover{
    color: rgba(148, 146, 146, 0.629)
}
nav a.active{
    background: var(--color-white);
    color: var(--color-bg);
}